<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Links -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/base.css')}}">
    <link rel="icon" href="{{url_for('static', filename = 'media/logo.png')}}" type="image/png">
    <link rel="stylesheet" href="{{url_for('private.static', filename = 'css/user.css')}}">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <title>Usuario</title>
  </head>
  <body>
    <header style="position: fixed; width: 100%;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand" href="#">{{current_user.perfil}}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link valor" href="#art1">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Academico
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item valor" href="#art2">Notas</a>
                	<a class="dropdown-item valor" href="#art3">Materias</a>
              </div>
            </li>
          </ul>
          <li class="nav-item dropdown" style="list-style: none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{current_user.name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	              <a class="dropdown-item valor" href="#art4">Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('private.logout')}}">Cerrar Sesion</a>
            </div>
          </li>
        </div>
      </nav>
    </header>
    <div style="padding: 5% 0">
      {% block content %}
      {% endblock %}
    </div>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Scripts -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/base.js')}}"></script>
    <script type="text/javascript" src="{{url_for('private.static', filename = 'js/user.js')}}"></script>
  </body>
</html>
