{% extends "base/user.html" %}
{% block content %}
<div class="all">
<div class="dates">
    <div class="foto">
        <div style="width: 100px; height: 100px; background-color: white"></div>
    </div>
    <p><spam style="font-weight:bold">Codigo: </spam>{{current_user.id}}</p>
    <p><spam style="font-weight:bold">Nombre Completo: </spam>{{current_user.name}}</p>
    <p><spam style="font-weight:bold">Institución Educativa: </spam>{{current_user.ie}}</p>
    <p><spam style="font-weight:bold">Correo Electronico: </spam>{{current_user.email}}</p>
</div>
<div class="documents">
    <article id="art1">
        <h1>Bienvenido <span style="font-style:italic">{{current_user.name}}</span></h1>
        <h3>Tus Materias</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Profesor</th>
              <th scope="col">Materia</th>
            </tr>
          </thead>
        </table>
    </article>
    <article id="art2">
        <h1>Notas</h1>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Materia</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Nota 1</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Nota 2</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Nota 3</th>
              <th scope="col">Promedio</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
        </table>
    </article>
    <article id="art3">
        <h1>Materias</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Profesor</th>
              <th scope="col">Materia</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
        </table>
    </article>
</div>
</div>
<script>
</script>
{% endblock %}
