{% extends "user.html" %}
{% block content %}
<div class="all">
<div class="dates">
    <div class="foto">
        <div style="width: 100px; height: 100px; background-color: white"></div>
    </div>
    <p><spam style="font-weight:bold">Codigo: </spam>{{user[0]}}</p>
    <p><spam style="font-weight:bold">Nombre Completo: </spam>{{user[1]}}</p>
    <p><spam style="font-weight:bold">Institución Educativa: </spam>{{user[2]}}</p>
    <p><spam style="font-weight:bold">Correo Electronico: </spam>{{user[3]}}</p>
    <p style="font-weight: bold">{{fecha}}</p>
    <p style="font-weight: bold">{{hora}}</p>
</div>
<div class="documents">
    <article id="art1">
        <h1>Bienvenido <span style="font-style:italic">{{user[1]}}</span></h1>
        {% if tams > 0 %}
        {% for i in range(tams) %}
        {% if tam[i] > 0 %}
          <h3>Tus Estudiantes de {{materia[i][2]}} son:</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Estudiante</th>
            </tr>
          </thead>
          <tbody>
            {% for j in range(tam[i]) %}
              <tr>
                <th scope="row">{{estudiantes[i][j][0]}}</th>
                <th scope="row">{{estudiantes[i][j][1]}}</th>
              </tr>
            {% endfor %}
            {% else %}
            <h3>No tienes Estudiantes de {{materia[i][2]}}</h3>
            {% endif %}
          </tbody>
        </table>
        {% endfor %}
        {% else %}
        <h3>No dictas ninguna materia</h3>
        {% endif %}
    </article>
    <article id="art2">
        <h1>Notas</h1>
        {% if tams > 0 %}
        {% for i in range(tams) %}
        {% if tam[i] > 0 %}
        <h3>{{materia[i][2]}}</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
            	<th scope="col">Codigo</th>
              <th scope="col">Estudiante</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Nota 1</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Nota 2</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Nota 3</th>
              <th scope="col">Promedio</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            {% for j in range(tam[i]) %}
            {% if promedio[i] < 30 %}
              <tr class="table-danger">
            {% elif promedio[i] >= 30 and promedio[i] < 35 %}
              <tr class="table-warning">
            {% else %}
              <tr class="table-success">
            {% endif %}
                <th scope="row">{{estudiantes[i][j][0]}}</th>
                <th scope="row">{{estudiantes[i][j][1]}}</th>
                <td>{{notas[i][0]}}%</td>
                <td>{{notas[i][1]}}</td>
                <td>{{notas[i][2]}}%</td>
                <td>{{notas[i][3]}}</td>
                <td>{{notas[i][4]}}%</td>
                <td>{{notas[i][5]}}</td>
                <td>{{promedio[i]}}</td>
                <td>
                  <button type="button" class="btn btn-warning" role="link" onclick="window.location='/addedit/2/'">Modificar</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h3>No tienes Estudiantes de {{materia[i][2]}}</h3>
        {% endif %}
        {% endfor %}
        {% else %}
        <h1>No tienes materias registradas<h1>
        {% endif %}
    </article>
    <article id="art3">
        <h1>Materias</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Materia</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          {% if materias > 0 %}
          <tbody>
            {% for i in range(materias) %}
                  <tr>
                    <th scope="row">{{materia[i][1]}}</th>
                    <td>{{materia[i][2]}}</td>
                    <td>
                      <button type="button" class="btn btn-warning" role="link" onclick="window.location='/addedit/2/1/{{materia[i][0]}}/{{user[0]}}'">Cambiar</button>
                      <button type="button" class="btn btn-danger" role="link" onclick="window.location='/materias/2/2/{{materia[i][0]}}/{{user[0]}}/a/a'">Cancelar</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                {% endif %}
        </table>
            	<center><p>Agregar Materia</p><button type="button" class="btn btn-success" role="link" onclick="window.location='/addedit/2/3/a/{{user[0]}}'">Añadir</button></center>
    </article>
    <article id="art4">
        <h1>Perfil</h1>
        <!-- Nombre -->
        <form action="/editar/{{user[0]}}/name/teachers" method="post" name="form" class="form-inline" autocomplete="off">
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nombre de Usuario</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="{{user[1]}}" name="name" required>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
        </form>
        <!-- Correo -->
        <form action="/editar/{{user[0]}}/email/teachers" method="post" name="form" class="form-inline" autocomplete="off">
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Correo Electronico</div>
            </div>
            <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="{{user[3]}}" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
        </form>
        <!-- Institucion -->
        <form action="/editar/{{user[0]}}/ie/teachers" method="post" name="form" class="form-inline" autocomplete="off">
          <div class="input-group mb-3 mr-sm-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Institucion Educativa</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="ie">
              <option value="I.E Antonio Nariño">I.E Antonio Nariño</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
        </form>
        <!-- Contraseña -->
        <form action="/editar/{{user[0]}}/password/teachers" method="post" name="form" class="form-inline" autocomplete="off">
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Contraseña Actual</div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Contraseña" name="password" requred>
          </div>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nueva Contraseña</div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Contraseña" name="pasword" required>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Recuerda no compartir tu contraseña con nadie.
          </small>
        </form>
        <!-- Eliminar Cuenta -->
        <form action="/editar/{{user[0]}}/drop/teachers" method="post" name="form" class="form-inline" autocomplete="off">
        	<div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Eliminar Cuenta</div>
            </div>
							<button type="submit" class="btn btn-danger" onclick="pregunta(event)">Eliminar Cuenta</button>
          </div>
    </article>
</div>
</div>
{% endblock %}
