.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
}
.all {
    width: 100%;
    padding: 1% 1% 1% 2%
}
.dates {
    width: 25%;
    height: 100%;
    float: left;
    background-color:rgba(180, 178, 178, 0.5);
    border-radius: 20px;
    padding: 1%
}
.documents {
    width: 73%;
    height: 100%;
    float: right;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
}