{% extends "base.html" %}
{% block content %}
<div class="content">
  <form action="" method="POST" autocomplete="off" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form %}
      {% if (field != form.submit) and (field != form.csrf_token) and (field != form.remember) %}
        {% if (field == form.ie) or (field == form.perfil) %}
          <div class="input-group mb-3">
            <div class="input group prepend">{{ field.label(class = "input-group-text") }}</div>
            {{ field(class = "custom-select") }}
        {% else %}
          <div class="form-group">
            {{ field.label }}
            {{ field(class = "form-control") }}
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
      {% endif %}
    {% endfor %}
    <div class="form-group row">
      <div class="col-sm-10">
        <div class="form-check">
          {{form.remember(class = "form-check-input")}}
          {{form.remember.label(class = "form-check-label")}}
          </label>
        </div>
      </div>
    </div>
    {{ form.submit(class = "btn btn-success") }}
    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu informacion con alguien más.</small>
  </form>
</div>
{% endblock %}
