{% extends "base.html" %}
{% block content %}
  <div class="content">
    <br>
    <h1>¿Ya tienes una cuenta?</h1>
    <br>
    <a type="button" class="btn btn-lg btn-outline-primary" href="{{url_for('users.log')}}">Inicia Sesion</a>
    <br>
    <h1>¿Aun no te has creado una cuenta?</h1>
    <br>
    <a type="button" class="btn btn-lg btn-outline-dark" href="{{url_for('users.sign')}}">Crear Cuenta</a>
  </div>
{% endblock %}
