* {
  padding: 0;
}
body {
  background-image: url('../media/fondo.jpg');
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
}
.content {
  padding: 5% 6%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.form-control:hover {
  box-shadow: 0 0 10px green;
}
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.carousel-caption h5, .carousel-caption p {
  color: black;
}
.carousel-item {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.carousel-item img {
  display: block;
  max-width: none !important;
}
footer {
  background-color: rgb(10, 7, 14);
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
}
